<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item usernav">
            <a class="nav-link" asp-action="PendingCounsellor" asp-controller="Admin">Pending Counsellor</a>
        </li>

        <li class="nav-item usernav">
            <a class="nav-link" asp-action="Index" asp-controller="Home">Log Out</a>
        </li>
    </ul>
</div>

