<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/images/ukiyoLogo.svg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
    <style>
        .usernav{
            transition:background-color linear;
            
        }
            .usernav a {
                transition: color linear;
                padding-top: 40px;
            }
        .usernav a{
            color:black;
        }
        .usernav:hover, .usernav a:hover{
            color:white;
            background-color:#0F89AE;
        }
    </style>
</head>

<body>

    <nav id="common_navbar" class="navbar navbar-expand-md col-lg-12" style="padding-top:0px;margin:auto">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="background-color: #0F89AE; margin-top: 10px;">
            <span class="navbar-toggler-icon"></span>
        </button>

            <img id="logo" src="@Url.Content("~/images/ukiyoLogo.svg")">


        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item usernav">
                    <a class="nav-link" href="~/Home/Index" >Home</a>
                </li>

                <li class="nav-item usernav">
                    <a class="nav-link" href="~/Home/AboutUs">About Us</a>
                </li>

                <li class="nav-item usernav">
                    <a class="nav-link" href="~/Home/FAQ">FAQ</a>
                </li>

                <li class="nav-item usernav">
                    <a class="nav-link" href="~/Home/Counsellor">Become a Counsellor</a>
                </li>
                <li class="nav-item usernav"><a class="nav-link" href="~/Home/LogIn">Log In</a></li>
            </ul>


        </div>
    </nav>
    @RenderBody()

</body>

</html>