<div class="collapse navbar-collapse" id="collapsibleNavbar">

    <ul class="navbar-nav ml-auto">
        <li class="nav-item usernav">
            <a class="nav-link" asp-action="Index" asp-controller="Counsellor">Home</a>
        </li>

        <li class="nav-item usernav">
            <a class="nav-link" asp-action="PendingCounsellorSessions" asp-controller="Counsellor">Pending Sessions</a>
        </li>

        <li class="nav-item usernav">
            <a class="nav-link" asp-action="CAccount" asp-controller="Counsellor">Account</a>
        </li>

        <li class="nav-item usernav">
            <a class="nav-link" asp-action="Index" asp-controller="Home">Log Out</a>
        </li>
    </ul>

</div>


