<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item usernav ml-auto" style="padding:10px;">
            <a class="nav-link" href="~/Counsellor/Index" style="color:black">Home</a>
        </li>
        <li class="nav-item usernav" style="padding:10px;">
            <a class="nav-link" asp-action="PendingCounsellorSessions" asp-controller="Counsellor" style="color:black">Pending Sessions</a>
        </li>
        <li class="nav-item usernav" style="padding:10px;">
            <a class="nav-link">Account</a>
        </li>
        <li class="nav-item usernav" style="padding:10px;">
            <a class="nav-link" asp-action="Index" asp-controller="Home">Log Out</a>
        </li>
    </ul>
</div>


