<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ukiyo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <style>
        body {
            font-family: 'Josefin Sans'
        }

        .usernav {
            transition: background-color linear;
        }

            .usernav a {
                transition: color linear;
            }

            .usernav a {
                color: black;
                padding-top: 30px;
            }

                .usernav:hover, .usernav a:hover {
                    color: white;
                    background-color: #0F89AE;
                }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
</head>
<body id="Site">
    <div class="Site-content">
        <header class="text">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm" style="padding-top:0px">
                <div class="container">
                    <svg width="57" height="74" viewBox="0 0 113 74" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding-top:30px">
                        <path d="M67.1608 1.69287L13.5997 1.69291C6.93663 1.69292 1.53516 7.0944 1.53516 13.7575V13.7575C1.53516 18.9208 4.82091 23.5117 9.70827 25.1772L15.102 27.0152C17.6809 27.894 20.5274 27.4429 22.7082 25.8099V25.8099C25.4549 23.7531 29.188 23.6112 32.083 25.4537L32.3281 25.6097C35.0433 27.3377 38.4922 27.4197 41.2863 25.8226L42.7836 24.9668C45.5446 23.3886 48.9601 23.5046 51.6077 25.2664L51.8857 25.4513C54.5795 27.2438 58.0934 27.2148 60.7572 25.3779V25.3779C63.3804 23.5691 66.8328 23.5109 69.5154 25.2305L69.9309 25.4968C72.705 27.2749 76.2649 27.2573 79.0213 25.4518V25.4518C81.8489 23.5996 85.5138 23.6329 88.3073 25.5362L88.8123 25.8802C91.1652 27.4833 94.1242 27.9166 96.838 27.0555L103.276 25.0126C108.194 23.4522 111.535 18.8869 111.535 13.7276V13.7276V13.7276C111.535 7.08103 106.147 1.69291 99.5005 1.69288L95.8079 1.69287L80.0807 1.69292" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10.1816 25.2383C11.7405 29.0238 12.8795 35.1886 12.8795 38.1277C12.8795 42.9023 27.6987 43.199 27.6987 50.8886C27.6987 57.4718 33.4883 59.4247 35.7305 69.3498C36.9278 74.6495 47.1589 71.9938 55.8665 67.8792C58.8789 66.4558 58.6867 57.0389 62.4277 55.4356C66.1686 53.8323 67.8576 51.5894 71.4776 53.5125C75.0975 55.4356 83.4899 52.4919 84.826 50.8886C86.4961 48.8845 85.1599 39.5321 92.5083 36.8599C99.8566 34.1878 96.4995 31 98.9995 26.5" stroke="black" stroke-width="1.5" />
                    </svg>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item usernav ml-auto" style="padding:10px;">
                                <a class="nav-link" href="https://localhost:5001/">Chat Group</a>
                            </li>
                            <li class="nav-item usernav" style="padding:10px;">
                                <a class="nav-link" href="https://localhost:44355/">Counselling</a>
                            </li>
                            <li class="nav-item usernav" style="padding:10px;">
                                <a class="nav-link" href="https://localhost:44355/">Account</a>
                            </li>
                            <li class="nav-item usernav" style="padding:10px;">
                                <a class="nav-link" asp-action="Index" asp-controller="Home">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>