<nav class="navbar navbar-expand-md">
    <!-- navbar icon -->
    <a class="navbar-brand" href="~/Home/Index">
        <img src="" style="height:auto; width:auto;" />
    </a>

    <!-- collapsible (hamburger) button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homepageNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="homepageNavbar">

        <!-- Links that are aligned to the right, ml-auto: left margin auto-adjusted -->
        <div class="navbar-nav ml-auto">
            <a href="~/Home/Index">
                home
            </a>
            <a href="~/Home/AboutUs">
                about us
            </a>
            <a href="~/Home/FAQ">
                faq
            </a>
            <a href="~/Home/CounsellorForm">
                become a counsellor
            </a>
            <a href="~/Home/LogIn">
                login
            </a>
        </div>

    </div>
</nav>