<nav class="navbar navbar-expand-md">
    <!-- navbar icon -->
    <a class="navbar-brand" href="~/Home/Index">
        <img src="" style="height:auto; width:auto;" />
    </a>

    <!-- collapsible (hamburger) button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homepageNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="homepageNavbar">

        <!-- Links that are aligned to the right, ml-auto: left margin auto-adjusted -->
        <div class="navbar-nav ml-auto">
            <a href="~/User/Index">
                home
            </a>

            <li class="nav-item">
                <a class="nav-link" asp-action="ChatRoom" asp-controller="Home" style="color:black">Live Chat</a>
            </li>

            <a href="~/User/Counselling">
                counselling
            </a>
            <a href="~/User/Account">
                account
            </a>
            <a href="~/Home/Index">
                login
            </a>
        </div>

    </div>
</nav>