.body {
    font-family: "Josefin Sans";
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    padding-left: 16%;
}

html, body, div, fieldset, form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.box-content {
    color: #555;
    font-family: "Josefin Sans";
    width: 200%;
    margin-left: -30%;
}

#name, #email, #subject {
    font-size: 160%;
    vertical-align: baseline;
    *vertical-align: middle;
    width: 1000%;
    padding: 8px 10px;
    margin-bottom: 20px;
    max-width: 100%;
    background: #F5F5F5;
    border: 0px solid #dddddd;
}

#name::-webkit-input-placeholder, #email::-webkit-input-placeholder, #subject::-webkit-input-placeholder {
    font-family: 'Courier New', Courier, monospace;
}

.contact-form input.button {
    width: auto;
    color: white;
    background-color: #A7BDE8;
    border: 0;
    outline: 0;
    margin-bottom: 0;
    padding: 12px 38px;
}

.contact-form input.Submit {
    width: auto;
    color: white;
    background: #0F89AE;
    border: 0;
    outline: 0;
    margin-bottom: 0;
    padding: 12px 38px;
    font-size: large;
}

.File {
    width: 90%;
    color: white;
    background: #A7BDE8;
    padding: 5px 15px;
    margin-left: -4%;
    margin-top: -20%;
    font-size: 60%;
}

#Certification {
    font-size: 150%;
    background-color: #A7BDE8;
    padding: 5px 15px;
    text-align: left;
    color: white;
    width: 46%;
}
