hr {
    background-color: #0F89AE;
    width: 7vh;
    height: 0.4vh;
    margin-bottom: 4vh;
    margin-right: 60%;
}


#subTitle {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    letter-spacing: 0.7em;
/*    margin-left: 17%;
    margin-bottom: 2%;*/
}
