body {
    font-family: 'Josefin Sans', sans-serif;
}

.w3-content {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 450%;
    letter-spacing: 10px;
}

hr {
    border: none;
    height: 2px;
    background: black;
    width: 65%;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}
