.navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
}

.dropdown-menu {
    min-width: 250px;
}


.navbar {
    font-family: 'Josefin Sans', sans-serif;
    background-color:white;
}


#logo {
    padding-left: 16px;
    height: auto;
    width: 50%;
    display: inline-block;
}

.align {
    vertical-align: middle;
}