@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

html {
    scroll-behavior: smooth;
}

#table-padding {
    padding: 0 2em;
}

.rwd-table {
    margin: 1em 0;
    min-width: 300px;
    width:100%;
}

    .rwd-table tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .rwd-table th {
        display: none;
    }

    .rwd-table td {
        display: block;
    }

        .rwd-table td:first-child {
            padding-top: 0.5em;
        }

        .rwd-table td:last-child {
            padding-bottom: 0.5em;
        }

        .rwd-table td:before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 6.5em;
            display: inline-block;
        }

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }

        .rwd-table th:first-child,
        .rwd-table td:first-child {
            padding-left: 0;
        }

        .rwd-table th:last-child,
        .rwd-table td:last-child {
            padding-right: 0;
        }
}

body {
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495e;
    align-content:center;
}

.rwd-table {
    background: #34495e;
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
}

    .rwd-table tr {
        border-color: #46637f;
    }

    .rwd-table th,
    .rwd-table td {
        margin: 0.5em 1em;
    }

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #dd5;
}

@-webkit-keyframes stripe-slide {
    0% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes stripe-slide {
    0% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }
}


    .btn:-moz-focus-inner {
        padding: 0;
        border: 0;
    }


    

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}


.fill {
    --color: #000;
    --hover: #34495e;
}



input {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

    input:hover, input:focus {
        border-color: var(--hover);
        color: #fff;
    }



input {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding:20px;
}


code {
    color: #e4cb58;
    font: inherit;
}


.rwd-table .dropbtn {
/*    background-color: #4CAF50;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5px;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background: rgba(0,0,0,.5);
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: rgba(0,0,0,.5);
}


.flight-info
{
    border-style:solid;
    text-align:center;
    border-color:black;
}