* {
    box-sizing: border-box;
}

body {
    padding: 0 1em;
    font-family: 'Josefin Sans', sans-serif;
}


/* * Post widget * */

input[type="file"] {
    display: none;
}

ul {
    list-style-type: none;
}

.btn {
    padding: .5em 1em;
    background-color: transparent;
    color: #6b7270;
    border: none;
    cursor: pointer;
}

.widget-post {
    width: 600px;
    min-height: 100px;
    height: auto;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
    background-color: #fff;
    margin: auto;
    overflow: hidden;
}

.widget-post__content {
    width: 100%;
    height: 50%;
}

.widget-post__textarea {
    width: 100%;
    height: 100%;
    padding: .5em;
    border: none;
    resize: none;
}

    .widget-post__textarea:focus {
        outline: none;
    }

.widget-post__options {
    padding: .5em;
}

.widget-post___input {
    display: inline-block;
    width: 24%;
    padding: .2em .5em;
    border: 1px solid #eaeaea;
    border-radius: 1.5em;
}

.post-actions__label {
    cursor: pointer;
}

.widget-post__actions {
    width: 100%;
    padding: .5em;
}

.post--actions {
    position: relative;
    padding: .5em;
    background-color: #f5f5f5;
    color: #a2a6a7;
}

.post-actions__attachments {
    display: inline-block;
    width: 60%;
}

.attachments--btn {
    background-color: #eaeaea;
    color: #007582;
    border-radius: 1.5em;
}

.post-actions__widget {
    display: inline-block;
    width: 38%;
    text-align: right;
}

.post-actions__publish {
    width: 120px;
    background-color: #0F89AE;
    color: #fff;
    border-radius: 1.5em;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.is--hidden {
    display: none;
}

.sr-only {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
}

.row{
    padding-top: 5%;
    padding-left:20%;
}

.column {
    width: 33.33%;
    padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    display: inline-block;
    width: 7%;
    height: 7%;
}

/* *  Placeholder contrast * */
::-webkit-input-placeholder {
    color: #666;
}

::-moz-placeholder {
    color: #666;
}

:-ms-input-placeholder {
    color: #666;
}

:-moz-placeholder {
    color: #666;
}

.dropbtn {
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-width: 2px;
    border-radius: 13px;
    padding: 14px 50px 12px 45px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #0F89AE;
}

#myInput {
    box-sizing: border-box;
    /*background-image: url("../images/searchicon.png");*/
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 2px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #0F89AE;
}

.show {
    display: block;
}