@{
    Layout = "_CommonNavbar";
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    <link href="~/css/aboutUs.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
</head>

<body>
    <div class="container-fluid" style="padding-top:5vh">
        <hr />
        <div class="col" id="subTitle">Meet Our Team</div>
        <br />
        <br />
        <div class="row us">
            <img src="~/images/yongteng.jpeg" id="ourPic" />
            <div class="col">
                <h5>Tee Yong Teng</h5><br /><br />
                <p>The Scrum Leader & Back-End Programmer</p>
            </div>
        </div>
        <div class="row us">
            <img src="~/images/joey.JPG" id="ourPic" />
            <div class="col">
                <h5>Aw Joey</h5><br /><br />
                <p>The Scribe & Presenter</p>
            </div>
        </div>
        <div class="row us">
            <img src="~/images/jax.jpg" id="ourPic" />
            <div class="col">
                <h5>Chua Jing Yi Jax</h5><br /><br />
                <p>The Back-End & Front-End Programmer</p>
            </div>
        </div>
        <div class="row us">
            <img src="~/images/weijie.jpeg" id="ourPic" />
            <div class="col">
                <h5>Ang Wei Jie</h5><br /><br />
                <p>The Front-End Programmer</p>
            </div>
        </div>
        <div class="row us">
            <img src="~/images/gekteng.jpeg" id="ourPic" />
            <div class="col">
                <h5>Cher Gek Teng</h5><br /><br />
                <p>The Front-End Programmer</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("common_navbar").classList.remove("fixed-top");
    </script>
</body>
</html>
