@{
    Layout = "_CommonNavbar";
    ViewData["Title"] = "Become a Counsellor";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Become a Counsellor</title>
    <link href="~/css/cousellor.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="box-content">
                <h3 style="text-align: center;">Become a Counsellor</h3>
                <hr />
                <form class="contact-form">
                    <fieldset>
                        <input style="text-align: left;" type="text" class="name" id="name" placeholder="Name">
                    </fieldset>
                    <fieldset>
                        <input style="text-align: left;" type="email" class="email" id="email" placeholder="Email">
                    </fieldset>
                    <fieldset>
                        <input style="text-align: left;" type="number" class="subject" id="subject" placeholder="Year of Experience">
                    </fieldset>
                    <fieldset>
                        <div id="Certification">
                            <p>Upload Certification</p>
                            <input type="file" class="File" id="myFile" name="filename">
                        </div>
                        <br>
                    </fieldset>
                    <input type="submit" class="Submit" id="Submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("common_navbar").classList.remove("fixed-top");
    </script>
</body>
</html>