@{
    Layout = "_CommonNavbar";
    ViewData["Title"] = "FAQ";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAQ</title>
    <link href="~/css/faq.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
</head>
<body>
    <div class="container-fluid" style="padding-top:5vh">
        <hr />
        <div class="col" id="subTitle">frequently asked questions</div>
        <br />
        <br />
        <div class="row" id="buttons">
            <a href="" class="button">general</a>
            <a href="" class="button">counselling</a>
            <a href="" class="button">groups</a>
        </div>
        <br />
        <div class="row" id="buttons">
            <a href="" class="button">privacy</a>
            <a href="" class="button">account</a>
            <a href="" class="button">job recognition</a>
        </div>
        <br />
        <p>"a curious mind is a healthy mind"</p>
        

    </div>


    <script type="text/javascript">
        document.getElementById("common_navbar").classList.remove("fixed-top");
    </script>
</body>

</html>