@{
    Layout = "_CommonNavbar";
    ViewData["Title"] = "FAQ";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAQ</title>
    <link href="~/css/faq.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
</head>
<body>
    <div class="container-fluid" style="padding-top:5vh">
        <hr />
        <div class="col" id="subTitle">Frequently Asked Questions</div>
        <br />
        <br />
        @*<div class="row" id="buttons">
            <button class="accordion">general</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <button class="accordion">counselling</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <button class="accordion">groups</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
        </div>
        <br />
        <div class="row" id="buttons">
            <button class="accordion">privacy</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <button class="accordion">account</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <button class="accordion">job recognition</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
        </div>
        <br />
        <p>"a curious mind is a healthy mind"</p>*@

        <p>"a curious mind is a healthy mind"</p>
        <div class="qnBtns">
            <br />
            <button class="accordion">general</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <br />
            <button class="accordion">counselling</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <br />
            <button class="accordion">groups</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <br />
            <button class="accordion">privacy</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <br />
            <button class="accordion">account</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <br />
            <button class="accordion">job recognition</button>
            <div class="panel">
                <p>This is a general enquiry.</p>
            </div>
            <br />
        </div>
    </div>


    <script type="text/javascript">
        document.getElementById("common_navbar").classList.remove("fixed-top");

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }


    </script>
</body>

</html>