@{
    Layout = "_CommonNavbar";
    ViewData["Title"] = "FAQ";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAQ</title>
    <link href="~/css/faq.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
</head>
<body>
    <div class="container-fluid" style="padding-top:5vh">
        <hr />
        <div class="col" id="subTitle">Frequently Asked Questions</div>
        <br />
        <br />
        <p>"a curious mind is a healthy mind"</p>
        <div class="qnBtns">
            <br />
            <button class="accordion">general</button>
            <div class="panel">
                <p>
                    What is Ukiyo for?<br />
                    To curb from the current pandemic, Ukiyo serves as a platform to allow you to be in a better state of mind.<br />
                    You can chat with friends, post your accomplishments, or/and seek for professional help.<br />
                    Don’t be shy, join Ukiyo now!
                </p>
            </div>
            <br />
            <button class="accordion">counselling</button>
            <div class="panel">
                <p>
                    How does the counselling function work?<br />
                    Here are 4 simple steps to create a counselling session.<br />
                    1. Register for an account and login as a user.<br />
                    2. Navigate to the counselling subpage by located at the top of the page (if you are using a mobile device, click the hamburger icon).<br />
                    3. Fill up the form and state your troubles. This form can only be viewed by your counsellor, so don’t worry and type away!<br />
                    4. Next, you will see a timeslot located on the right of the page. Login during the time interval and your assigned counsellor will attend to you.
                </p>
            </div>
            <br />
            <button class="accordion">groups</button>
            <div class="panel">
                <p>No queries so far, do drop us an email at faq@ukiyo.com if you have any questions!</p>
            </div>
            <br />
            <button class="accordion">privacy</button>
            <div class="panel">
                <p>No queries so far, do drop us an email at faq@ukiyo.com if you have any questions!</p>
            </div>
            <br />
            <button class="accordion">account</button>
            <div class="panel">
                <p>No queries so far, do drop us an email at faq@ukiyo.com if you have any questions!</p>
            </div>
            <br />
            <button class="accordion">job recognition</button>
            <div class="panel">
                <p>No queries so far, do drop us an email at faq@ukiyo.com if you have any questions!</p>
            </div>
            <br />
        </div>
    </div>


    <script type="text/javascript">
        document.getElementById("common_navbar").classList.remove("fixed-top");

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }


    </script>
</body>

</html>