@{
    ViewData["Title"] = "Login";
    Layout = "_CommonNavbar";
}

<!DOCTYPE html>
<head>
    <title>Login</title>
    <link href="~/css/login.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
</head>

<body style="background: url(../images/cloud.jpg);background-repeat:no-repeat; background-size:cover">
    <div class="mylogin">
        <div class="row">
            <div class="box-content">
                <form class="contact-form" method="post">
                    <input name="txtLoginID"
                           id="txtLoginID" required placeholder="Username" style="text-align:center" size="30" /><br />
                    <br />
                    <input type="password" name="txtPassword"
                           id="txtPassword" required placeholder="Password" style="text-align:center" size="30" />
                    <br /><br />
                    <span style="color: #ffffff;margin:10px">@TempData["Message"]</span>
                    <br /><br />
                    <input type="submit"
                           class="myButton" value="Login" />
                    <br /><br />
                    <p class="signUpNow">Don't have an account? <a href="~/Home/Register">Sign up now!</a></p>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("common_navbar").classList.remove("fixed-top");
    </script>
</body>
