@{
    ViewData["Title"] = "Login";
    Layout = "_CommonNavbar";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href="~/css/login.css" rel="stylesheet">
</head>
@if (TempData["Messgae"] != null)
{
    <div class="alert alert-danger alert-dismissable ">
        <strong>@TempData["Messgae"]</strong>
    </div>
}
<body>
    <div>
        <section>
            <form method="post" action="~/Home/UserLogin">
                <fieldset class="loginFieldset">
                    <legend>Login</legend>
                    <hr />
                    <input name="txtLoginID"
                           id="txtLoginID" required placeholder="Username" style="text-align:center" size="30" /><br />
                    <br />
                    <input type="password" name="txtPassword"
                           id="txtPassword" required placeholder="Password" style="text-align:center" size="30" />
                    <br /><br />
                    <input type="submit"
                           class="myButton" value="Login" />
                    <br />
                </fieldset>
            </form>
        </section>
    </div>
</body>
<script type="text/javascript">
    document.getElementById("common_navbar").classList.remove("fixed-top");
</script>
</html>