@model FSD_P2_T2_Group2.Models.User
@{
    ViewData["Title"] = "Register";
    Layout = "_CommonNavbar";
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <style>
        body {
            background: white;
            font-family: 'Josefin Sans';
            font-size: 20px;
        }

        #regForm {
            top: 50%;
            left: 50%;
            margin-right: -100%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        input {
            border: 1px solid;
            box-shadow: 3px 3px 4px #A7BDE8;
            border-color: #A7BDE8;
            padding: 10px;
            text-align: center;
            font-size: 20px;
            
        }

        ::placeholder {
            color: #bcbfc4;
        }

        .myButton {
            background: #EFEFEF;
            mix-blend-mode: normal;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            border: none;
            width: 300px;
            height: 50px;
            font-size: 17px;
            transition: background-color 0.15s linear;
        }

            .myButton:hover {
                background-color: #4dbadb !important;
            }
    </style>
</head>

<body>
    <div id="regForm">
        <form asp-action="Register">
            <fieldset class="registerFieldset">
                <legend style="padding-top:10vh">Register</legend>
                <hr />
                <input asp-for="Name" placeholder="Full Name" size="30" /><br /><br />
                <input asp-for="Alias" placeholder="Alias" size="30" /><br /><br />
                <input asp-for="Username" placeholder="Username" size="30" /><br /><br />
                <input asp-for="Password" placeholder="Password" size="30" type="password"/><br /><br />
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" size="30" type="password" />                
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <br /><br />
                <input asp-for="Email" placeholder="Email" size="30" /><br /><br />
                <input asp-for="PhoneNo" placeholder="Phone Number" size="30" /><br /><br />
                <input type="submit"
                       class="myButton" value="Register" />
                <br />
                <span style="color:red;">@TempData["Message"]</span>
            </fieldset>
        </form>
    </div>
</body>

