@model FSD_P2_T2_Group2.Models.User
@{
    Layout = "_CommonNavbar";
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<head>
    <title>Register</title>
    <link href="~/css/register.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="myRegister">
        <div class="row">
            <div class="box-content">
                <h1 style="text-align: center;">Register</h1>
                <hr />
                <form class="contact-form">
                    <input asp-for="Name" placeholder="Full Name" size="30" /><br /><br />
                    <input asp-for="Alias" placeholder="Alias" size="30" /><br /><br />
                    <input asp-for="Username" placeholder="Username" size="30" /><br /><br />
                    <input asp-for="Password" placeholder="Password" size="30" type="password" /><br /><br />
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" size="30" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <br /><br />
                    <input asp-for="Email" placeholder="Email" size="30" /><br /><br />
                    <input asp-for="PhoneNo" placeholder="Phone Number" size="30" /><br /><br />
                    <input type="submit" class="myButton" value="Register" />
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("common_navbar").classList.remove("fixed-top");
    </script>
</body>
