<head>
    <title>Register</title>
    <link href="~/css/register.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
</head>


<body>
    <div class="myRegister" style="background: url(../images/cloud.jpg);background-repeat:no-repeat; background-size:cover; padding-top: 5em">
        <div class="row" style:margin-top="10em">
            <div class="box-content">
                <form method="post">
                    <input placeholder="OTP" size="30" required/>
                    <span style="color:white"></span><br /><br />
                    <input type="submit" class="myButton" value="Submit OTP" />
                </form>
            </div>
        </div>
    </div>
</body>