@model FSD_P2_T2_Group2.Models.User
@{
    ViewData["Title"] = "Register";
    Layout = "_CommonNavbar";
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href="~/css/register.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="regForm">
            <form asp-action="Register">
                    <legend>Register</legend>
                    <hr />
                    <input asp-for="Name" placeholder="Full Name" size="30" /><br /><br />
                    <input asp-for="Alias" placeholder="Alias" size="30" /><br /><br />
                    <input asp-for="Username" placeholder="Username" size="30" /><br /><br />
                    <input asp-for="Password" placeholder="Password" size="30" type="password" /><br /><br />
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" size="30" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <br /><br />
                    <input asp-for="Email" placeholder="Email" size="30" /><br /><br />
                    <input asp-for="PhoneNo" placeholder="Phone Number" size="30" /><br /><br />
                    <input type="submit"
                           class="myButton" value="Register" />
                    <br />
                    <span style="color:red;">@TempData["Message"]</span>
                @*<fieldset class="registerFieldset">
                    <legend>Register</legend>
                    <hr />
                    <input asp-for="Name" placeholder="Full Name" size="30" /><br /><br />
                    <input asp-for="Alias" placeholder="Alias" size="30" /><br /><br />
                    <input asp-for="Username" placeholder="Username" size="30" /><br /><br />
                    <input asp-for="Password" placeholder="Password" size="30" type="password" /><br /><br />
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" size="30" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <br /><br />
                    <input asp-for="Email" placeholder="Email" size="30" /><br /><br />
                    <input asp-for="PhoneNo" placeholder="Phone Number" size="30" /><br /><br />
                    <input type="submit"
                           class="myButton" value="Register" />
                    <br />
                    <span style="color:red;">@TempData["Message"]</span>
                </fieldset>*@
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    document.getElementById("common_navbar").classList.remove("fixed-top");
</script>

