@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Talents Recognition";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Talents Recognition</title>
    <link href="~/css/talents.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
</head>

<body>
    <div class="row">
        <div class="col">
            <h3><u>Information Technology</u></h3>
        </div>
        <div class="col">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Select Filter</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <a href="#">Information Technology</a>
                    <a href="#">Badmintion</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <img src="~/images/weijie.jpeg" class="rounded-circle" align="left" />
        <div class="column">
            <div class="widget-post" aria-labelledby="post-header-title">
                <form id="widget-form" class="widget-post__form" name="form" aria-label="post widget">
                    <div class="widget-post__content">
                        <label for="post-content" class="sr-only">Share</label>
                        <textarea name="post" id="post-content" class="widget-post__textarea scroller" placeholder="Share something...."></textarea>
                    </div>
                    <div class="widget-post__options is--hidden" id="stock-options">
                    </div>
                    <div class="widget-post__actions post--actions">
                        <div class="post-actions__attachments">
                            <button type="button" class="btn post-actions__upload attachments--btn">
                                <label for="upload-image" class="post-actions__label">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <img src="~/images/photoicon.JPG">
                                    upload image/video
                                </label>
                            </button>
                            <input type="file" id="upload-image" accept="image/*" multiple>
                        </div>
                        <div class="post-actions__widget">
                            <button class="btn post-actions__publish">publish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }
    </script>
</body>

</html>