@model FSD_P2_T02_Group2.Models.ChatMessage

<form asp-action="BadmintonChatRoom" id="messagebox">
    <input type="text" placeholder="Type something..." asp-for="Message"runat="server">

    <button type="submit" onclick="clear()">Send</button>
</form>