@*@model FSD_P2_T02_Group2.Models.Post
@using Microsoft.AspNetCore.Http
@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Talents Recognition";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/css/talents.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
</head>

<body>
    <div class="column">
        <div class="widget-post" aria-labelledby="post-header-title">
            <form id="widget-form" class="widget-post__form" name="form" aria-label="post widget" method="post" asp-action="Talents">
                <input type="hidden" asp-for="@Model.UserID"/>
                <div class="widget-post__content">
                    <label for="post-content" class="sr-only">Share</label>
                    <textarea name="post" id="post-content" class="widget-post__textarea scroller" placeholder="Share something...." asp-for="@Model.Description"></textarea>
                </div>
                <div class="widget-post__options is--hidden" id="stock-options">
                </div>
                <div class="widget-post__actions post--actions">
                    <div class="post-actions__attachments">
                        <button type="button" class="btn post-actions__upload attachments--btn">
                            <label for="upload-image" class="post-actions__label">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <img src="~/images/photoicon.JPG">
                                upload image/video
                            </label>
                        </button>
                        <input type="file" id="upload-image" accept="image/*" multiple asp-for="@Model.Media" />
                    </div>
                    <div class="post-actions__widget">
                        <button class="btn post-actions__publish" type="submit">Publish</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>*@
