
@using Microsoft.AspNetCore.Http;
@using Google.Cloud.Firestore;
@using System.Web;
<!DOCTYPE html>
<head>
    <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
</head>
<body>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyB_3YSraE6XM9lB-Va12Q36Gxmu19Mju8U",
            authDomain: "fir-chat-ukiyo.firebaseapp.com",
            databaseURL: "https://fir-chat-ukiyo-default-rtdb.firebaseio.com",
            projectId: "fir-chat-ukiyo",
            storageBucket: "fir-chat-ukiyo.appspot.com",
            messagingSenderId: "1003455832615"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        var firestore = firebase.firestore();
        console.log("initialized")
        var uID = "@Context.Session.GetInt32("UserID")";
        var query = firestore.collection("CounsellingChat").where("UserID", "==", uID);
        // Start listening to the query.
        query.onSnapshot(function (snapshot) {
            snapshot.docChanges().forEach(function (change) {
                var chat = change.doc.data();
                if (chat.Status == "Online") {
                    var cDate = chat.Date.toDate();
                    var nowDate = firebase.firestore.Timestamp.now().toDate();
                    if ((nowDate - cDate)/(1000*3600*24) < 0.5) {
                        console.log("Works");
                        $('#myModal').modal('show');
                        var id = change.doc.id;
                        var string = "CounselChat/" + id;
                        setTimeout(function () {
                            window.location.href = string;
                        }, 3000);
                    }
                }
            });
        });
    </script>

    <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
</body>