@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<head>
    <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
    <div class="hero-image container-fluid">
        <div class="row hero-row">
            <div class="col vcenter">
                <div class="page-title">
                    <h1>Live Chat</h1>
                </div>
            </div>
            <div class="chat-window" id="chat-window">
                <ul id="messages">
                    <li class="msg">
                        <span class="msg-span">
                            <i class="name">Host: </i>Hello and welcome to the chat!
                        </span>
                    </li>
                </ul>
                <form id="messageForm" autocomplete="off">
                    <input type="text" id="msg-input" placeholder="Enter a message">
                    <button id="msg-btn" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</body>





























