@model FSD_P2_T02_Group2.Models.CounselReq;
@using Microsoft.AspNetCore.Http;
@using System.Web;
@{
    ViewData["Title"] = "Counselling";
    Layout = "_UserLayout";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Josefin Sans;
        }
        #col {
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            border: 3px solid #0F89AE;
            border-radius: 10px;
            margin: 15px;
            padding: 25px;
            text-align: center;
            margin-top:25px
        }

        #filler {
            margin: 15px;
            padding: 25px;
        }

        .radio {
            text-align: center;
            width: 100px;
        }

            .radio span {
                text-align: center;
            }

        .text textarea {
            background-color: #E5E5E5;
            border: 0px;
            width: 100%;
        }

        .text {
            min-width: 100%;
        }

        .cBtn {
            color: white;
            background-color: #0F89AE;
            min-width: 100%;
            border: 0px;
            padding: 5px;
        }
        .cBtn:hover{
            filter: brightness(110%);
        }
    </style>
</head>
<body id="main"  style="background: url(../images/Login.png);background-repeat:no-repeat; background-size:cover">
    <div class="container" style="padding-top:25px;">
        <h4 style="text-align:center;font-size:1rem">“Give yourself another day, another chance. You will find your courage eventually. Don’t give up on yourself just yet.”</h4>
        <div class="row">
            <div class="col-1 filler"></div>
            <div class="col-lg-6" id="col">
                <form asp-action="Counselling">
                    <label asp-for="Feelings" class="Qn">1. How do you feel when thinking about the problems you face?</label>
                    <br />
                    <div class="form-group form-check">
                        <label class="col-form-label radio">
                            <input asp-for="Feelings" type="radio" value="1"
                                   class="form-check-input" />
                            <br />
                            <span>Fine</span>
                        </label>
                        <label class="col-form-label radio">
                            <input asp-for="Feelings" type="radio" value="2"
                                   class="form-check-input" />
                            <br />
                            <span>Sad</span>
                        </label>
                        <label class="col-form-label radio">
                            <input asp-for="Feelings" type="radio" value="3"
                                   class="form-check-input" />
                            <br />
                            <span>Anxious</span>
                        </label>
                        <label class="col-form-label radio">
                            <input asp-for="Feelings" type="radio" value="4"
                                   class="form-check-input" />
                            <br />
                            <span>Depressed</span>
                        </label>
                    </div>
                    <label asp-for="Thought" class="Qn">2. Are you able to control your thoughts</label>
                    <br />
                    <div class="form-group form-check">
                        <label class="col-form-label radio">
                            <input asp-for="Thought" type="radio" value="true"
                                   class="form-check-input" />
                            <br />
                            <span>Yes</span>
                        </label>
                        <label class="col-form-label radio">
                            <input asp-for="Thought" type="radio" value="false"
                                   class="form-check-input"  />
                            <br />
                            <span>No</span>
                        </label>
                    </div>
                    <label asp-for="Problems" class="Qn">3. What problems or obstacles are you currently dealing with?</label>
                    <br />
                    <div class="form-group form-check-inline text">
                        <textarea asp-for="Problems" rows="5" wrap="soft"></textarea>
                    </div>
                    <button type="submit" class="cBtn">submit</button>
                </form>
            </div>
            <div class="col-lg-3 sticky-top" id="col" style="height:fit-content;">
                <div>
                    <div>
                        In Queue:
                        <p style="font-size:4rem;margin-bottom:0">@Model.Queue</p>
                    </div>
                </div>
            </div>
            <div class="col-2 filler"></div>
        </div>
    </div>
</body>