@model FSD_P2_T02_Group2.Models.User

@{
    ViewData["Title"] = "UserMain";
    Layout = "_UserLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>User Main Page</title>
    <link href="~/css/usermain.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
</head>

<body>
    <partial name="~/Views/User/_JoinChat.cshtml" />
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%;width:25vw">

            <!-- Modal content-->
            <div class="modal-content" style="border: 3px solid #0F89AE; background-color: #0F89AE;border-radius: 15px;">
                <div class="modal-header" style="background-color: white; border-radius: 14px 14px 0px 0px;">
                    <h4 class="modal-title">Session has started</h4>
                </div>
                <div class="modal-header" style="background-color:white;border-radius: 0px 0px 14px 14px;">
                    <h4 class="modal-title">Redirecting you to the session...</h4>
                </div>
            </div>

        </div>
    </div>
    <div class="page-content" style="background: url(../images/usermain.png);background-repeat:no-repeat; background-size:cover">
        <div class="col" id="subTitle">Check Out The Latest News</div>
        <div class="form-content">
            <div class="container">
                <br />
                <div class="row">
                    <div class="col-4">
                        <p>Channel News Asia</p>
                    </div>
                    <div class="col-7">
                        <p>8/12/20 10.24 AM</p>
                        <p>Asian Stocks Trend Down on Pandemic Pressure, U.S.-China Tensions</p>
                        <div class="form-row-last">
                            <input type="submit" value="Read More" class="submit" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>Bloomberg</p>
                    </div>
                    <div class="col-7">
                        <p>8/12/20 10.24 AM</p>
                        <p>Outages at Interactive Brokers, Robinhood Leave Stock Traders Furious</p>
                        <div class="form-row-last">
                            <input type="submit" value="Read More" class="submit" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>ZACKS</p>
                    </div>
                    <div class="col-7">
                        <p>8/12/20 10.24 AM</p>
                        <p>Nike (NKE) Gains As Market Dips: What You Should Know</p>
                        <div class="form-row-last">
                            <input type="submit" value="Read More" class="submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>